<div class="education">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% if include.limit and site.announcements.limit %}
          {% assign news_limit = site.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        <tr>
          <th scope="row" style="width: 30%">{<img src="/assets/img/snu_logo.jpeg" width="100" height="100">}</th>
          <td>
              <a>Ph.D Student</a>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 30%">{<img src="/assets/img/kaist_logo.jpeg" width="100" height="100">}</th>
          <td>
              <a>B.E Student</a>
          </td>
        </tr>
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
